<!--Footer-->
  <footer class="page-footer grey darken-1">
    <div class="container">
      <div class="row">
        <div class="col s6">
		<ul>
          <h5 class="white-text">Sitemap</h5>
          <ul class="grey-text text-lighten-4">Home</ul>
		  <ul class="grey-text text-lighten-4">About</ul>
		  <ul class="grey-text text-lighten-4 indent">Favorites</ul>
		   <ul class="grey-text text-lighten-4 indent">About this Site</ul>
		  <ul class="grey-text text-lighten-4">Projects</ul>
		</ul>
</div>
<div class="row">
        <div class="col s6">
          <h5 class="white-text">Connect</h5>
          <ul>
            <ul><a class="white-text" href="https://github.com/sentientredstripe">Github</a></ul>
            <ul><a class="white-text" href="https://twitter.com/cylononsecurity">Twitter</a></u>
          </ul>
        </div>
      </div>
	  </div>
    </div>
	
    <div class="footer-copyright">
      <div class="container">
	  &copy 2015 Ian Smithh. All rights reserved.
      Made with <a class="white-text text-lighten-3" href="http://materializecss.com">Materialize.</a>
      </div>
    </div>
  </footer>
<!--Footer ends-->

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>